@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<p class="pic"> <img src="deathwater1.png" alt="Image" width="250" /> </p>
<p style="font-size:25px;text-align:center;">Катакомбы Кавказа</p>
<p style="font-size:18px;text-align:center;">Rogue-like игра связанная с мифологией кавказа</p>
